{%extends 'base.html'%}

{% block content %}
{{block.super}}
<div class="container">
  <div class="row">
    {% for photo in photos %}
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
      <br>
      <div class="card">
        <a href="#" class="thumbnail">
          <img src="{{photo.image.url}}" class="img-fluid img-thumbnail rounded" alt="Responsive image">
        </a>
        <br>
        <div class="card-body">
          <p class="card-text">{{photo.decription}}</p>
          <hr>
          <p>Image Url:{{photo.image_url}}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
