{%extends 'base.html'%}

{% block content %}
{{block.super}}
<br>
<h1 class="text-center">Hello, Welcome to the 2018 FIFA world-cup Gallery</h1>
<div class="container">
  <div class="row">

    {% for photo in photos %}
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
      <br>
      <div class="card">
        <a class="thumbnail">
          <img src="{{photo.image.url}}" class="img-fluid img-thumbnail rounded" alt="Responsive image" data-toggle="modal" data-target="#d">
        </a>
        <div class="card-body">
          <p class="card-text">{{photo.description}}</p>
          <input class="form-control" type="text" value="{{photo.image_url}}" id="link">
          <a onclick="myFunction()"><button type="button"  class="btn btn-primary">Copy Link</button></a>

        </div>
      </div>
    </div>
    {% endfor %}

  </div>
</div>
<!--modal-->
{% for photo in photos %}
<div class="modal fade" id="d" tabindex="-1" role="dialog" aria-labelledby="ImageModalCentTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ImageModalCentTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="{{photo.image.url}}" class="img-fluid img-thumbnail rounded" alt="Responsive image">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

{% endfor %}
{% endblock %}
